:root {
  --verde: #90ee90;
  --verde-pastel: #b8f3af;
  --vermelho: #e83b31;
  --vermelho-pastel: #ff574d;
  --cinza: #242323;
}

body {
  background-color: var(--cinza);
}
h1 {
  margin: 0.5rem;
  color: whitesmoke;
  text-align: center;
  font-size: 3rem;
  transition: color 0.3s ease;
}
h1:hover {
  color: rgb(187, 185, 185);
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-template-rows: auto auto auto auto auto auto auto;
  max-width: 800px;
  margin: auto;
}
.form-group {
  position: relative;
}
.button-group {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  grid-row: 7;
  transform: translateY(-120%) translateX(76%);
  text-align: center;
}
label {
  color: whitesmoke;
  padding: 0 5px;
  position: absolute;
  transform: translateY(-50%);
  top: 45%;
  left: 1em;
  pointer-events: none;
  transition: 0.3s;
}
button {
  transition-duration: 0.4s;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transform: translate(-50%, -50%);
  padding: 8px 16px;
  width: 50%;
}
button.botaoConfirmar {
  color: var(--verde-pastel);
  border: 2px solid var(--verde-pastel);
}

button.botaoConfirmar:hover {
  background-color: var(--verde);
  color: var(--cinza);
}

button.botaoCancelar {
  color: var(--vermelho-pastel);
  border: 2px solid var(--vermelho-pastel);
}
button.botaoCancelar:hover {
  background-color: var(--vermelho);
  color: var(--cinza);
}
.popupConfirmar {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--verde-pastel);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s ease-in-out;
}
.popupCancelar {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--vermelho-pastel);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
input,
select,
textarea {
  color: whitesmoke;
  border: 2px solid whitesmoke;
  background: transparent;
  border-radius: 5px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  min-width: 0;
}
select,
input {
  height: 60px;
  padding: 0 1rem;
  margin-bottom: 7px;
  transition: border-color 0.3s, height 0.3s ease-out;
}

textarea {
  height: 150px;
  padding: 12px 1rem;
  resize: vertical;
  margin-top: auto;
  margin-block: 4px;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label,
select:valid ~ label {
  top: 0;
  background-color: var(--cinza);
  font-size: 0.7rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: whitesmoke;
}

select:focus {
  transition: height 0.3s ease, opacity 0.3s ease;
}
